[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Information"]
	path = Information
	url = https://github.com/klarsen1/information
[submodule "MarketMatching"]
	path = MarketMatching
	url = https://github.com/klarsen1/marketmatching
